body {   
    background-image: url(images/floralbackground.png);
    background-repeat: repeat-y;
    background-size: auto;     
    color: var(--font-default);
    font-family: Candara,Calibri,Segoe,Segoe UI,Optima,Arial,sans-serif;
    font-size: 12pt;
    margin: 0;
    width: 100%;
}
  
:root {    
    --main-body: #ffffff; /*White*/ 
    --whitesmoke: whitesmoke;
    --font-default: #333333; /*Jet*/   

    /*Colour Palette*/
    --black-coral: #475F77;
    --desert-sand: #D7BEA8;
    --rosy-brown: #B49286;
    --catawba: #744253;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0fr 0fr 0fr 0fr 0fr 1fr 0.5fr;
  gap: 30px 0px;
  grid-template-areas:
    "topContact topContact topContact topContact"
    "topHeader topHeader topHeader topHeader"
    "topNav topNav topNav topNav"   
    "mainBanner mainBanner mainBanner mainBanner" 
    "filler filler filler filler"  
    "main main main main"    
    "footer footer footer footer";    
    width: 80%;
    margin-left: auto;
    margin-right: auto; 
    background: var(--whitesmoke);   
    -webkit-box-shadow: -2px 6px 10px 4px rgba(51,51,51,0.2);
    -moz-box-shadow: -2px 6px 10px 4px rgba(51,51,51,0.2);
    box-shadow: -2px 6px 10px 4px rgba(51,51,51,0.2);
}

/*CONTACT HEADER*/
.topContact {
    grid-area: topContact;    
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--rosy-brown);
    color: var(--font-default);
    font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif;         
    text-transform: uppercase;
    padding: 10px;
    -webkit-box-shadow: -2px 6px 10px 4px rgba(51,51,51,0.2);
    -moz-box-shadow: -2px 6px 10px 4px rgba(51,51,51,0.2);
    box-shadow: -2px 6px 10px 4px rgba(51,51,51,0.2);  
    margin-top: 10px;
}
.contactInfo a:active, .contactInfo a {
    color: var(--font-default);
    text-decoration: none;    
}
.contactInfo a:hover{
    color: var(--catawba);
}
.email, .email a:link {
    color: var(--font-default);
    text-decoration: none;
    font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; 
}
.email a:hover {
    color: var(--catawba);
}
.socialMedia a, .socialMedia a:link {
    /*width: 50px;
    height: 50px;*/
    font-size: 35px;
    padding: 5px;
    color: var(--font-default);
    text-decoration: none;
    /*margin-top: 5px;*/
}
.socialMedia a:hover {    
    color: var(--catawba);
}
.fa-facebook, .fa-twitter, .fa-instagram, .fa-pinterest, .fa-phone-alt, .fa-envelope, .fa-home, .fa-shopping-cart, .fa-baby-carriage, 
.fa-caret-down, .fa-candy-cane, .fa-briefcase {
    filter:drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.2));    
}
/*END CONTACT HEADER*/

/*MAIN HEADER*/ 
.topHeader { 
    grid-area: topHeader; 
    background-color: var(--whitesmoke);    
}
/*.businessName, .businessName a {
    color: var(--catawba);
    font-family: 'Dancing Script';
    font-size: 100pt;
    font-weight: 400;   
    text-decoration: none;     
}
.businessName img {
    display: block;
    margin-left: auto;
    margin-right: auto;   
}*/

/*END HEADER*/

/*HORIZONTIAL LINE*/
hr.solidBar {
    color: var(--black-coral);    
    width: 75%;    
}
hr.dotBar {
    color: var(--black-coral);    
    width: 60%;    
    border-style: dotted;    
}

/*NAVIGATION*/
.topNav { 
    grid-area: topNav;   
    display: flex;      
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    background-color: var(--desert-sand);         
    width: 100%;
    height: auto;  
    -webkit-box-shadow: -2px 6px 10px 4px rgba(51,51,51,0.2);
    -moz-box-shadow: -2px 6px 10px 4px rgba(51,51,51,0.2);
    box-shadow: -2px 6px 10px 4px rgba(51,51,51,0.2);    
}
.topNav a { 
    color: var(--font-default);  
    font-size: 20px; 
    font-weight: bold;      
    text-decoration: none; 
    text-transform: uppercase;     
    padding: 15px;
}
.topNav a:hover {
    background-color:var(--rosy-brown);
}
.active {
    background-color: var(--rosy-brown);     
}

/*Dropdown Buttons*/
.dropbtn {
    background-color: var(--desert-sand);
    color: var(--font-default);
    font-size: 19px;
    font-weight: bold;
    text-transform: uppercase;    
    border: none;
    cursor: pointer;
    padding: 15px;
}  
.dropdown {
    position: relative;
    display: inline-block;
}  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--desert-sand);
    min-width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}  
.dropdown-content a {
    display: block;
    color: var(--font-default);
    text-align: center;
    text-decoration: none;
    padding: 12px 16px;   
}
.dropdown-content a:hover {background-color:var(--rosy-brown)}
.dropdown:hover .dropdown-content {
    display: block;
}  
.dropdown:hover .dropbtn {
    background-color: var(--rosy-brown);
}

/*SEARCH BAR INSERT*/
input[type=text] {    
    padding: 5px;    
    display: inline-block;
    border: none;
    border-radius: 4px;
    background: #f1f1f1;
    -webkit-box-shadow: -2px 6px 10px 4px rgba(51,51,51,0.2);
    -moz-box-shadow: -2px 6px 10px 4px rgba(51,51,51,0.2);
    box-shadow: -2px 6px 10px 4px rgba(51,51,51,0.2);
} 
/*END NAVIGATION*/

/*IMAGE BANNER*/
.mainBanner { 
    grid-area: mainBanner;
    background-color: var(--main-body);
    width: auto;
    height: 450px;
    -webkit-box-shadow: -2px 6px 10px 4px rgba(51,51,51,0.2);
    -moz-box-shadow: -2px 6px 10px 4px rgba(51,51,51,0.2);
    box-shadow: -2px 6px 10px 4px rgba(51,51,51,0.2);
}
.mainBanner img {
    position: relative;
    width: 100%;
    height: 450px;
    object-fit: cover;
}

/*SLIDESHOW START*/

/* Slideshow container */
.slideshow-container {
  width: auto;  
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: var(--whitesmoke);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
  background-color: rgba(22, 22, 22, 0.8);
}

/* Caption text */
.text {
  color: var(--main-body);
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
/* The dots/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 15px 5px;
  background-color: var(--desert-sand);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.dot:hover {
  background-color: var(--rosy-brown);
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
/* END SLIDESHOW*/
/* END IMAGE BANNER*/

/*FILLER SPACE*/
.filler {
    grid-area: filler;
    width: auto;
    height: auto;        
}

/*MAIN CONTENT*/
.main {
    grid-area: main;    
}  

.productContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: space-around;   
    padding: 10px;   
    gap: 10px; 
}
.productDisplay {    
    font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; 
    text-align: center;
    width: 250px;    
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);       
    margin: 5px;  
    flex-basis: 25%;      
}
.productDisplay img {
    width: 100%;
}
.productInfo {
    padding: 10px;
}

/*FOOTER*/
.footer {
    grid-area: footer;   
    margin-bottom: 30px; 
}
/*NEWSLETTER*/
.newsletter {
    font-family: 'Dancing Script';
    font-size: 25pt;
    font-weight: 400;
    text-align: center;
    margin: auto;
    padding: 20px 0;    
}
input[type=email] { 
    font-size: 14pt;   
    width: 250px;
    height: 30px;
    padding: 5px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    /*border-radius: 4px;*/
    background: #f1f1f1;
}  
input[type=email]:focus {
    background-color: #ddd;
    outline: none;
}
input[type=submit] {
    background-color: var(--black-coral);
    color: var(--main-body);
    font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; 
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14pt;
    width: 100px;
    height: 40px;   
    border: none;   
    cursor: pointer;
    
}  
input[type=submit]:hover {
    background-color: #34475a;
}
/*END NEWSLETTER*/

.footerSub {
    /*display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;*/
    background-color: var(--desert-sand);
    font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; 
}
.footerColumn {
    float: left;
    width: 23%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */    
    margin-left: 5px;
}
.footerColumn a:link, a:any-link {
    text-decoration: none;    
    color: var(--font-default);
} 
.footerColumn a:hover {
    color: var(--catawba);
} 
/* Clear floats after the columns */
.footerRow:after {
    content: "";
    display: table;
    clear: both;
}
.followUs a, .followUs a:link {   
    font-size: 30px;
    padding: 5px;
    color: var(--font-default);
    text-decoration: none;  
}
.followUs a:hover {    
    color: var(--catawba);
}
h2 {
    text-transform: uppercase;
}

/*.leftFooter {
    padding: 10px;
    margin-left: 50px;
}
.vl {
    border-left: 1px dotted var(--black-coral);
    height: auto;
}
.rightFooter {
    font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; 
    color: var(--font-default);
    text-align: center;
    text-transform: uppercase;
    padding: 10px;
    margin-right: 50px;
}*/
.copyright {
    background-color: var(--rosy-brown);
    font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; 
    color: var(--font-default);
    text-align: center;
    font-size: small;
    padding: 5px;
}
/*END FOOTER*/

/*TO TOP*/
#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 40px; 
    z-index: 99; /* Make sure it does not overlap */
    border: none; 
    outline: none; 
    background-color:var(--rosy-brown); 
    color: var(--main-body); 
    cursor: pointer; 
    padding: 15px;     
    border-radius: 10px; 
    font-size: 25px; 
    
}  
#myBtn:hover {
    background-color:var(--catawba); 
}
